@import "./variables";

button {
  margin: 0;
  padding: 0;
}

.fco-btn  {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 0;
  height: $hight-button;
  min-width: $fco-btn-min-width;
  margin: $margin-button;
  padding: $padding-button;
  border: none;
  background: $font-color-light;
  text-decoration: none;
  color: $font-color-dark;
  text-align: center;
  font-size: $font-size-md;
  font-family: $font-family;

  &:hover {
    cursor: pointer;
    background-color: $color-disabled_01;
  }

  &--orange {
    background: $color-orange_01;
    &:hover {
      background: $color-orange_02;
    }
  }

  &--green {
    background: $color-green_01;
    &:hover {
      background: $color-green_02;
    }
  }

  &--red {
    background: $color-red_01;
    &:hover {
      background: $color-red_02;
    }
  }

  &--disabled {
    background: $color-disabled_01;
    cursor: not-allowed;
    &:hover {
      background: $color-disabled_02;
    }
  }

  &--full {
    Width: 100%;
  }
  
  &--align-center {
    margin: 0 auto;
  }
  
}
