@import "./variables";

button {
  margin: 0;
  padding: 0;
}

.fco-btn  {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 0;
  height: 4rem;
  margin: 1rem;
  padding: 0.7rem;
  border: none;
  background: $color-white;
  text-decoration: none;
  color: $color-black;
  text-align: center;

  &--orange {
    background: $color-orange_01;
    &:hover {
      background: $color-orange_02;
    }
  }

  &--green {
    background: $color-green_01;
    &:hover {
      background: $color-green_02;
    }
  }

  &--red {
    background: $color-red_01;
    &:hover {
      background: $color-red_02;
    }
  }

  &--disabled {
    background: $color-disabled_01;
    cursor: not-allowed;
    &:hover {
      background: $color-disabled_02;
    }
  }
}
