@import "./variables";
.fco-right-sidebar {
  max-height: $fco-list-height;
  min-height: $min-height-left-right-side-bar;
  overflow: auto;
}

.fco-list {
  
  max-height: $fco-list-height;
  background-color: $fco-list-bg;

  &__title {
    color: $font-color-light;
    font-size: $font-size-xl;
    font-family: $font-family;
    border-bottom: $border-bottom-item-size solid $border-bottom-item-color;
    padding: $item-padding;
    background-color: $list-title-bg;
    line-height: $line-height-size-md;
  }
  
  &__item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: $border-bottom-item-size solid $border-bottom-item-color;
    padding: $item-padding; 

    &:last-child {
      border:none;
    }

    &:hover {
      background-color: $item-background-hover;  
    }

    &-actions {
      display: flex;
      justify-content: flex-end;
    }
  }
  
  &__title-info-wrapper{
    display: flex;
    flex-direction: column;
    line-height: $line-height-size-md;
    flex: 1;
    min-width: $min-width-title-info-wrapper; // added for text-overflow
  }

  &__item img {
    width: $img-icon-size;
    height: $img-icon-size;
    margin-left: $img-icon-margin-left;
    margin-right: $img-icon-margin-right;
  }
  
  &__item-title {
    color: $font-color-light;
    font-size: $font-size-lg;
    font-family: $font-family;
    white-space: nowrap;
    line-height: $line-height-size-sm;
    -webkit-line-clamp: $lines-header;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__item-info {
    color: $font-color-light;
    font-family: $font-family;
    font-size: $font-size-md;    
    white-space: nowrap;
    line-height: $line-height-size-sm;
    -webkit-line-clamp: $lines-header;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

}

