


.lists {
  display: flex;
  height: 98%;
  justify-content: center;
}

.user-list {
  height: 100%;
  overflow: hidden;
  width: 350px;
  margin: 0 10px;

  &__title {
    padding: 10px;
    background: #ffd787;
    border-radius: 6px 6px 0 0;
    border-bottom: 1px solid #656464;
    font-size: 1.6rem;
  }

  &__items {
    height: 100%;
    background: white;
    overflow: auto;
  }

  &__item {
    padding: 6px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #c2c2c2;

    &:last-child {
      border-bottom: none;
    }
  }

  &__user-name {
    flex: 1;
  }

  &__actions {
    display: flex;
  }

  .btn {
    margin-left: 5px;
  }
}

.btn {
  padding: 4px 10px;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;

  &--yes {
    background: #9cf994;
    border: 1px solid #58af5b;
  }

  &--no {
    background: #f78181;
    border: 1px solid #af5858;
  }

  &--blue {
    background: #9499f9;
    border: 1px solid #5e58af;
  }
}

.game {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  padding: 40px;
  background: white;

  &__players {
    height: 92px;
    display: flex;
    flex-direction: row;
  }

  &__player {
    margin: 0 20px;
    flex: 1;
    text-align: center;
  }

  &__player-name {
    font-size: 1.8rem;
  }

  &__wrapper {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

.game-info {
  text-align: center;
  margin: 10px 0;
  height: 45px;

  &__current-turn {
    font-size: 1.6rem;
  }

  &__error {
    color: #af5858;
  }
}

.page-list {
  .game {
    visibility: hidden;
  }

  .lists {
    visibility: visible;
  }
}

.page-game {
  .game {
    visibility: visible;
  }

  .lists {
    visibility: hidden;
  }
}

.confirm {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(98, 97, 97, 0.8);

  &__content {
    width: 40%;
    height: auto;
    background: white;
    border-radius: 6px;
    border: 1px solid #585858;
  }

  &__title {
    padding: 15px;
    border-bottom: 1px solid #585858;
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 15px;
  }

  &__actions .btn {
    margin-left: 10px;
  }
}


.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  &__form {
    display: block;
    visibility: hidden;
    width: 400px;

    label {
      font-weight: bold;
    }

    input {
      border-radius: 0;
      margin-bottom: 10px;
      border: 1px solid #c2c2c2;
      width: 100%;
      padding: 7px;
    }
  }

  &__form-title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
  }

  &__form-error {
    color: #af5858;
  }

  &__form-actions {
    margin-top: 10px;

    .btn {
      width: 100%;
      margin-bottom: 10px;
    }
  }

  &__social {
    width: 400px;

    a {
      width: 100%;
      text-decoration: none;
      color: black;
      display: block;
      text-align: center;
      margin-bottom: 10px;
      background: white;
      border: 1px solid #c2c2c2;
      border-radius: 4px;
      padding: 4px 10px;
    }
  }

  &__social-title {
    display: flex;
    align-items: center;
    margin: 20px 0;
  }

  &__social-divider {
    flex: 1;
    height: 1px;
    background: #afafaf;
    margin: 0 5px;
  }
}
