//#region colors
$color-dark_01:                       #0d0d0d;
$color-dark_02:                       #1a1a1a;
$color-dark_03:                       #262626;
$color-dark_04:                       #333333;
$color-dark_05:                       #404040;
$color-red_01:                        #da5f5f;
$color-red_02:                        #da8080;
$color-orange_01:                     #f5b847;
$color-orange_02:                     #fad185;
$color-green_01:                      #3a8f3a;
$color-green_02:                      #61a061;
$color-disabled_01:                   #d8d8d8;
$color-disabled_02:                   #f0f0f0;
$color-gray_01:                       #868686;
$list-title-bg:                       #313131;
$fco-list-bg:                         #2c2a2a;
$item-background-hover:               #383636;
$border-bottom-item-color:            #909090;
$icon-color:                          #ffffff;
//#endregion colors

$hight-button:                        4rem;
$fco-btn-min-width:                   10rem;
$padding-button:                      0.7rem;
$margin-button:                       1rem;

//#region fonts
$font-family:                         'Roboto', sans-serif;

$font-size-xs:                        1rem;
$font-size-sm:                        1.2rem;
$font-size-md:                        1.4rem;
$font-size-lg:                        2rem;
$font-size-xl:                        2.4rem;

$font-color-light:                    #e6e6e6;
$font-color-dark:                     $color-dark_01;
//#endregion fonts

$lines-header:                        1;

$bg-color:                            $color-dark_03;

//#region
$screen-lg:                           1200px;
$screen-md:                           960px;
$screen-sm:                           600px;
$screen-xs:                           400px;
//#endregion

$board-size:                          540px;

//#region icons
$img-icon-size:                       40px;
$img-icon-margin-left:                1rem;
$img-icon-margin-right:               1.5rem;
$notify-icon-size:                    3rem;
//#endregion icons

$item-padding:                        5px;
$border-bottom-item-size:             2px;
$line-height-size-sm:                 1.5rem;
$line-height-size-md:                 2.5rem;
$fco-list-height:                     100%;

$left-sidebar-width:                  15rem;
$left-sidebar-height:                 100%;
$left-sidebar-color:                  #2c2a2a;
$min-height-left-right-side-bar:      180px;
$min-width-title-info-wrapper:        50px;

//#region z-indexes
$modal-z-index:                       99;
$notify-z-index:                      100;
//#endregion z-indexes

//#region modal
$modal-bg:                            $bg-color;
$modal-backdrop-bg:                   #ffffffb3;

$modal-size-md:                       60%;
$modal-size-full:                     100%;
//#endregion modal
