$color-dark_01:                       #0d0d0d;
$color-dark_02:                       #1a1a1a;
$color-dark_03:                       #262626;
$color-dark_04:                       #333333;
$color-dark_05:                       #404040;

$font-family:                         'Roboto', sans-serif;

$font-size-xs:                        1rem;
$font-size-sm:                        1.2rem;
$font-size-md:                        1.4rem;
$font-size-lg:                        2rem;
$font-size-xl:                        2.4rem;

$font-color-light:                    #e6e6e6;
$font-color-dark:                     $color-dark_01;

$bg-color:                            $color-dark_03;

$screen-lg:                           1200px;
$screen-md:                           960px;
$screen-sm:                           600px;
$screen-xs:                           400px;

$board-size:                          540px;
